body {
  background-color: lightgray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btn{
  border: 1;
  color: blue;
  font-weight: bold;
  background-color: ligthgrey;
  padding: 5px;
  margin-top: 10px;
  border-radius: 0.5em;
}
.lbl{
  width: 300px;
  height: 100px;
  border: 1px solid blue;
  box-sizing: border-box;
  outline-style: outset;
}

